JavaAPIRest/xml/common.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="film">
        <xs:sequence>
            <xs:element name="CodFilm" type="xs:integer"/>
            <xs:element name="Titolo" type="xs:string"/>
            <xs:element name="AnnoProduzione" type="xs:integer"/>
            <xs:element name="Nazionalita" type="xs:string"/>
            <xs:element name="Regista" type="xs:string"/>
            <xs:element name="Genere" type="xs:string"/>
            <xs:element name="Durata" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>